---
defaults:
  domain: formulas.local.arnoldbechtoldt.com
  base_box: DEV_Debian_78_salt_arbe_20152_git-virtualbox-v0.4-32-g26a68ac.box
  base_box_basedir: ../../../vagrant-devenv/shared/boxes
  osfam: debian
  synced_folders:
    # Common folders
    - src: ../shared/misc
      dst: /vagrant/shared/misc

    # Salt related folders
    - src: ../shared/salt/devenv
      dst: /vagrant/shared/salt/devenv
    - src: ../../../salt
      dst: /vagrant/src/salt
    - src: ../../../salt-modules/_modules
      dst: /vagrant/salt/_modules
    - src: ../../../salt-modules/_states
      dst: /vagrant/salt/_states
  provision:
    - name: basic
    - name: saltstack_install_bootstrap
    - name: saltstack_formulas
      formulas:
        - name: skeleton
          base_dir: ../..
    - name: saltstack_config
    - name: saltstack_services
nodes:
  skeleton1: {}
