---
defaults:
  domain: local.arnoldbechtoldt.com
  synced_folders:
    - src: scripts/debian
      dst: /vagrant/scripts
  provision:
    - name: basic
    - name: saltstack_setup
    - name: saltstack_modules
      modules_custom: ../../../salt-modules/_modules
      formulas:
        - name: skeleton
          base_dir: ../..
        - name: network
          base_dir: ../../../saltstack-network-formula
nodes:
  client1:
    base_box: DEV_Debian_78_min-virtualbox-v0.3-9-gdba595d.box
    base_box_basedir: ../../../vagrant-devenv/shared/boxes
